/Is-It/obj/
/Is-It/bin/
/Is-It/REVISION
/Is-It/build/
/Is-It/AddIns/
/Is-It/doc/ChangeLog.html
/Is-It/data/resources/StringResources.*.resources
/Is-It/src/AddIns/Analysis/Profiler/Controller/Data/UnmanagedCallTreeNode64.cs
/Is-It/src/AddIns/Analysis/Profiler/Controller/Profiler64.cs
/Is-It/src/AddIns/Analysis/Profiler/Controller/structs64.cs
/Is-It/src/AddIns/Analysis/Profiler/Hook/Callback.x64.obj
/Is-It/src/AddIns/Analysis/Profiler/Hook/x64
/Is-It/src/AddIns/Analysis/Profiler/Hook/Win32
/Is-It/src/Tools/UpdateAssemblyInfo/bin
/Is-It/src/Setup/SharpDevelop.Setup.wixproj.user
/Is-It/src/Main/ICSharpCode.SharpDevelop.Sda/ICSharpCode.SharpDevelop.Sda.dll.config
/Is-It/src/Main/SharpDevelop/app.config
/Is-It/src/Main/GlobalAssemblyInfo.cs
/Is-It/src/Main/GlobalAssemblyInfo.vb
/Is-It/src/AddIns/Misc/UsageDataCollector/UsageDataCollector.AddIn/AnalyticsMonitor.AppProperties.cs

/Is-It/src/AddIns/Misc/PackageManagement/Packages/AvalonEdit/lib
/Is-It/packages/
/Is-It/src/Tools/ResGet/*.log